@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --bg-color :#000000;
    --text-color: #ffffff;
    --second-color: #75d292;
    --main-color: #000000;
    --big-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    height: .5rem;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    height:80px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 18%;
    flex-wrap: wrap;
}

.logo {
    left: 0px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);
    transition: ease-in .4s;
    -webkit-transition: ease-in .4s;
    -moz-transition: ease-in .4s;
    -ms-transition: ease-in .4s;
    -o-transition: ease-in .4s;
}

span {
    color: #75d292;
}

.logo:hover {
    color: var(--second-color);
}

.navbar {
    display : flex;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    transition: ease .40s;
    -webkit-transition: ease .40s;
    -moz-transition: ease .40s;
    -ms-transition: ease .40s;
    -o-transition: ease .40s;
}

.navbar a:hover {
    text-decoration: underline;
    color: var(--second-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.home {
    width: 100vw;
    height: 100vh;
    background: url(./images/sasas\ 1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    padding: 50px 80px;
}

.home_text h1 {
    margin-top: 10%;
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--text-color);
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.home_text p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom:50px;
}

.home-btn {
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    background-color: #ffffff;
    color: var(--main-color);
    border-radius: 30px;
    transition:  ease .40s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    -webkit-transition:  ease .40s;
    -moz-transition:  ease .40s;
    -ms-transition:  ease .40s;
    -o-transition:  ease .40s;
}

.home-btn:hover {
    background-color: var(--second-color);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.search-box {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.search-box .search-icon {
    color: #ffffff;
    line-height: 40px;
    font-size: 20px;
}

.search-box .search-input {
    position: fixed;
    color:#fff;
    transition: .5s;
    width: 0px;
    overflow: hidden;
}

.search-box ::placeholder {
    color: #fff;
}
.search-input .input {
    color: #ffffff;
    border: none;
    outline:none;
    background-color: unset;
    padding: 8px;
    font-weight: bold;
}
.search-box:hover .search-input{
    margin-left: 30px;
    width: 190px;
}

/* header end */

/* about start */
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.about-images img {
    max-width: 780px;
    width: 500px;
    border-radius: 6px;
    margin-right: 30px;
    transition: all ease-in-out .55s;
    -webkit-transition: all ease-in-out .55s;
    -moz-transition: all ease-in-out .55s;
    -ms-transition: all ease-in-out .55s;
    -o-transition: all ease-in-out .55s;
}

.about-images img:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.about-text {
    color: var(--text-color);
    line-height: 1.1;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 2;
}

.about-text p {
    line-height: 2;
    font-size:var(--p-font)
}
/* about end */

/* destination start */
.main_text {
    text-align: center;
}

.main_text p {
    color: var(--text-color);
    font-size: 25px;
    margin-bottom: 15px;
}

.main_text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.layer h5 {
    position: absolute;
    bottom: 30px;
    margin: 5px;
}
.layer p {
    position: absolute;
    bottom: 5px;
    margin: 5px;
    font-weight: 600;
}
.destination_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 3.5rem;
    align-items: center;
    padding: 40px;
}

.destination_content .row {
    position: relative;
}
/* destination end */

.row img {
    width:100%;
    height: 600px;
    display: block;
    object-fit: cover;
    transition: ease-in-out 1s;
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.row img:hover {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    filter: brightness(100%), hue-rotate(45deg);
    -webkit-filter: brightness(100%), hue-rotate(45deg);
}

.row-item {
    background-color: #75d292;
    padding: 70px;
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    margin: 10rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.container-box img {
    cursor: pointer;
}
.text h2 {
    margin-top: 5rem;
    text-align: center;
    font-weight: 700;
}

/* ifrmae class */  
.iframe {
    text-align: center;
}
.iframe iframe {
    border: 3px solid #fff;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 50%;
    height: 600px;
    padding: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
/* iframe end */

/* gallery start */
.gallery-content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 30rem));
    gap: 2rem;
    justify-content: center;
}

.gallery-content img {
    width: 100%;
    height: 100%;
    transition: ease-in-out .44s;
    -webkit-transition: ease-in-out .44s;
    -moz-transition: ease-in-out .44s;
    -ms-transition: ease-in-out .44s;
    -o-transition: ease-in-out .44s;
}

.gallery-content img:hover {
    cursor: pointer;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
/* gallery end */

/* contact start */
.contact {
    margin-left: 10rem;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:2.5rem;
    margin-top: 10rem;
}

.contact_text h2 {
    color: var(--text-color);
    line-height: 1;
}

.contact_text p {
    color: var(--text-color);
    line-height: 1.8;
    font-size: var(--p-font);
    margin-bottom: 30px;
}

.list {
    margin-bottom: 12px;
}
.list li {
    margin-bottom: 12px;
}

.list li a {
    color: var(--text-color);
    display: block;
}
.contact-form form{
    position: relative;
    margin-top: 5rem;
}


.contact-form form input,form textarea {
    color: var(--text-color);
    background-color: var(--text-color);
    border: none;
    outline: none;
    width: 90%;
    padding: 14px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 300px;
}

.contact-form  .submit{
    color: var(--bg-color);
    background-color: var(--text-color);
    width: 50%;
    cursor: pointer;
    transition:  .45s ease;
    -webkit-transition:  .45s ease;
    -moz-transition:  .45s ease;
    -ms-transition:  .45s ease;
    -o-transition:  .45s ease;
}
.contact-form .submit:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
/* contact end */

/* footer start */
.footer {
    background-color: #202020;
    color: #eaeaea;
    width: 100%;
    position:relative;
    bottom: 0;
    left: 0;
}

.footer .heading {
    color: #eaeaea;
    max-width: 1290px;
    width: 90%;
    text-transform:uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.footer .footer-1 {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.footer .footer-1 p {
    margin-bottom: 1.3rem;
}

.footer .footer-1 a {
    text-decoration: none;
    color: #eaeaea;
}

.footer-1 a:hover {
    color: #00cc66;
}
.footer-1 h4 {
    margin-bottom: 1.3rem;
    font-size: 30px;
}

footer {
    text-align: center;
}

footer br {
    margin: 1rem;
}
/* footer end */